*
{
    padding: 0;
    margin: 0;
}

.content
{
    display: grid;
    grid-template-columns: 1fr minmax(400px,8fr) 1fr;
    grid-template-rows: auto auto;
    row-gap: 20px;
}

.header
{
    padding-top: 20px;

    grid-column: 2 / 3;

    text-align: center;
}

.header .btn-open-modal
{
    font-size: 1.2em;

    height: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: wheat;
    
    margin-top: 10px;
}

.main
{
    background-color: burlywood;
    border-radius: 10px;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 30px 10px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main .book-card
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.book-card > h2
{
    text-align: center;
}

.book-card .book-info
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 10px;

    padding-top: 15px;
}

.book-info dt
{
    font-weight: bold;
}

.book-modal
{
    font-size: 1.3em;

    padding: 20px;

    margin: auto;
    width: 500px;

    border-radius: 10px;
}

.book-modal .content
{
    display: grid;
    grid-template-columns: 1fr;
}

.book-modal h3
{
    text-align: center;
    font-size: 1.5em;
}

.book-modal form
{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 10px;
}

.book-modal form label
{
    font-weight: bold;
}

.book-modal form .btn-container
{
    display: grid;
    justify-content: center;

    grid-column: 1 / 3;
    place-items: center;
}

.book-modal button
{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.book-modal .btn-close-modal
{
    margin-top: 40px;
    justify-self: center;
}